body {
	margin: 12px;
}
h1 {
	padding: 6px;
	color: #f00;
	font-size: 64px;
}
.subtitle {
	color: #fff;
	background-color: #00f;
	width: 200px;
	font-size: 30px;
	/*line-height: 1.5;*/
	margin-bottom: 190px;
}
span {
	color: #f00;
}
h2 {
	color: #fff;
	background-color: green;
}
.can {
	padding: 100px 0px 100px 100px;
}
li {
	border: 1px solid #000;
	font-size: 20px;
}
.title-form {
	padding-left: 80px;
}